* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  max-width: 80vw;
  margin: 0 auto;
  min-height: 8vh;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  font-size: 25px;
  flex: 2;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
.nav-links * {
  cursor: pointer;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(87, 166, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/* Home Page Styles */

.home {
  width: 100vw;
  height: 92vh;
  display: grid;
  place-items: center;
}
