* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  max-width: 80vw;
  margin: 0 auto;
  min-height: 8vh;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  font-size: 25px;
  flex: 2;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
.nav-links * {
  cursor: pointer;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(87, 166, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/* Home Page Styles */

.home,
.users {
  width: 100vw;
  height: 92vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.users {
  grid-area: 1 / 1 / 6 / 9;
}

.root-user {
  grid-area: 2 / 4 / 5 / 6;
  justify-self: center;
  align-self: center;
}

.user-1 {
  grid-area: 1 / 3 / 3 / 5;
}
.user-2 {
  grid-area: 1 / 6 / 3 / 8;
}
.user-3 {
  grid-area: 3 / 6 / 5 / 9;
}
.user-4 {
  grid-area: 2 / 2 / 4 / 3;
}
.user-5 {
  grid-area: 3 / 4 / 6 / 5;
  align-self: flex-end;
  margin-bottom: 20px;
}

.i-want-more {
  grid-area: 5 / 7 / 6 / 8;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  border: none;
}
